@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&family=Poppins&display=swap');

.header {
    background-color: #FFCC26;
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    p {
        font-size: 30px;
        margin-right: 20px;
        width: 311px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #414141;
        font-family: 'Anek Telugu';
        font-style: normal;
    }
}